.unoccupiedPlayerSpot {
  background: rgb(63, 63, 63);
  padding: 1rem;
  width: 350px;
  text-align: center;
  margin: 0.5rem;
  border-radius: 5000px;
  transition: all 0.2s ease-in-out;
}

.unoccupiedPlayerSpot:hover {
  background: rgb(87, 87, 87);
  cursor: pointer;
}

.occupiedPlayerSpot {
  padding: 1rem;
  width: 350px;
  text-align: center;
  margin: 0.5rem;
  border-radius: 5000px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background: rgba(255, 166, 0, 0.911);
  color: white;
}

.selected {
  color: white;
  background: rgba(255, 166, 0, 0.472);
}
