.playerSpot {
  background: rgb(63, 63, 63);
  padding: 1rem;
  width: 350px;
  text-align: center;
  margin: 0.5rem;
  border-radius: 5000px;
  transition: all 0.2s ease-in-out;
}

.playerSpot:hover {
  background: rgb(87, 87, 87);
  cursor: pointer;
}
