.title {
  color: orange;
  font-size: 1.5rem;
  border-bottom: 3px solid orange;
  text-align: center;
}

.titleContainer {
  margin: 20px 0 10px;
  justify-content: space-around;
}

span {
  color: #fff;
}

.animation {
  animation-name: moveDown;
  animation-duration: 1s;
  text-align: center;
}

@keyframes moveDown {
  from {
    margin-top: -20px;
  }
  to {
    margin-top: 0;
  }
}
