nav {
  position: sticky;
  display: flex;
  justify-content: space-around;
  padding: 1rem 1rem;
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  background-color: rgb(31, 30, 30);
  top: 0;
  z-index: 100;
  box-shadow: 0 0 10px white;
}

.active {
  color: orange !important;
  border-bottom: 1px solid orange;
  margin-bottom: -1px;
}

.navGroup {
  display: flex;
}

.linkContainer {
  padding: 0 2rem;
}

.linkContainer:last-child {
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  color: rgb(255, 166, 0);
}

.logo {
  color: orange;
  border-radius: 10px 0 10px 0;
  outline: 2px solid orange;
  outline-offset: 7px;
  font-weight: 800;
}
