.desktopNav {
  position: sticky;
  display: flex;
  justify-content: space-around;
  padding: 1rem 1rem;
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  background-color: rgb(31, 30, 30);
  top: 0;
  z-index: 100;
  box-shadow: 0 0 10px white;
}

.active {
  color: orange !important;
  border-bottom: 1px solid orange;
  margin-bottom: -1px;
}

.navGroup {
  display: flex;
}

.linkContainer {
  padding: 0 1rem;
}

.linkContainer:last-child {
  padding-right: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  color: rgb(255, 166, 0);
}

.logo {
  color: orange;
  border-radius: 10px 0 10px 0;
  outline: 2px solid orange;
  outline-offset: 7px;
  font-weight: 800;
}

.bars {
  display: none;
  transition: all 0.7s ease;
}

.bars:hover {
  color: orange;
  transform: rotate(90deg);
}

.mobileNav {
  display: none;
  text-align: center;
  color: white;
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: rgb(31, 30, 30);
  animation-duration: 1s;
  box-shadow: 0 0 10px white;
}

.moveDown {
  animation-name: moveDown;
}

.moveUp {
  animation-name: moveUp;
}

.mobileLinkContainer {
  padding: 0.5rem;
}

@media (max-width: 660px) {
  .bars {
    display: block;
  }

  .navGroup {
    display: none;
  }

  .desktopNav {
    justify-content: space-between;
    padding: 1rem 3rem;
    box-shadow: 0 0 10px white;
  }

  .mobileNav {
    display: block;
  }
}

@keyframes moveDown {
  from {
    top: -50px;
  }
  to {
    top: 58px;
  }
}

@keyframes moveUp {
  from {
    top: 58px;
  }
  to {
    top: -50px;
  }
}
