.playerStats {
  position: relative;
}

.nameArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameArea span {
  padding: 10px 20px;
  color: #000;
}

td {
  text-align: center;
}

table {
  border-top: 1px solid black;
  margin-bottom: 1rem;
  padding-top: 10px;
}

.running {
  color: rgb(0, 132, 255);
}

.fielding {
  color: green;
}

.pitching {
  color: orange;
}

.batting {
  color: rgb(251, 193, 0);
}

.btn {
  margin: 0 auto;
  outline: 0;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
}
.btnIcon {
  font-size: 2rem;
  cursor: pointer;
}

.btnIcon:hover {
  color: orange;
}

.active {
  border: 1px solid orange;
  color: orange;
}

.inactive {
  color: black !important;
  border: 1px solid transparent !important;
}

.toggleBtn {
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  background: transparent;
  outline: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid orange;
  color: orange;
}
