.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 8px;
  padding: 6px;
}

.playerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  color: rgb(5, 5, 5);
  transition: all 0.3s ease-in-out;
}

.grid .playerCard:hover,
.grid .playerCard:focus {
  background: black;
  cursor: pointer;
  color: orange;
}

.playerCard div {
  margin: 0 5px;
}

.rating {
  border-radius: 50%;
  padding: 5px;
  text-align: center;
}

.noContent {
  padding: 2rem;
  color: #000;
  font-weight: 800;
}

.contentContainer {
  margin: 1rem;
  padding: 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.267);
  box-shadow: 0 0 10px orange;
  border-radius: 10px;
}

.paginationContainer {
  grid-column: 1/-1;
}

.paginationBtn {
  padding: 0.4em;
  border-radius: 5px;
  background: white;
  color: orange;
  /* border: 1.5px solid orange; */
  margin: 0 0.3em;
  transition: all 0.3s ease;
  border: 1.5px solid transparent;
}

.paginationBtn:hover {
  border: 1.5px solid orange;
}

.pageNumber {
  color: orange;
}
