.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 4px;
  padding: 10px;
}

.grid div {
  padding: 1rem;
  border-radius: 2000px;
  background: rgba(255, 255, 255, 0.527);
  color: orange;
  transition: all 0.3s ease-in-out;
}

.grid div:hover,
.grid div:visited {
  background: black;
  cursor: pointer;
}
