.body {
  margin: 0 auto;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  background: rgba(255, 255, 255, 0.815);
  border-radius: 20px 0;
}

.title {
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.title h1 {
  display: inline-block;
  border-bottom: 2px solid black;
}

.brand {
  color: orange;
}

.body .description {
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem;
}

.body .updates {
  text-align: center;
  padding: 1rem;
}
